.desc{
  h4{
    font-size: 2.1rem;;
     @include mobile{
      font-size:1.5rem;
    }
  }
  h2{
    font-size: 1.8rem;
    @include mobile{
      font-size:1.3rem;
    }
    @include desktop-xxl{
      font-size: 2.813rem;
    }
    @include desktop-xl{
      font-size: 2.3rem;
    }
  }
}
.donate{
  font-size: 0.9rem;
  @include mobile{
    font-size: 1.15rem;
  }
  @include desktop-xl{
    font-size: 1.25rem;
  }
  h4{
    font-size: 1.1rem;
    @include desktop-xl{
      font-size: 1.5rem;
    }
  }
  .nav{
    border-radius: 21px;
  }
  .align-mid{
    display: flex; 
  align-items: center;  /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
  }
  .p-53{
    white-space: normal;
    padding: 4rem 2rem;
    font-size: 1.5rem;
    height: 12rem;
    @inlcude desktop-xxl{
      padding: 6rem 2rem;
      font-size: 2em;
    }
  }
  h5{
     font-size: 1.25rem;
     color: #1A4568;
  }
  .nav-item{
    background: white;
    color: black;
      border-radius: 21px;
    a{
      color: black;
    }
  }
  .nav-link.active{
    background: #1A4568;
     border-radius: 21px;
     color: #F2FBFF;
  }
}
#flex{
  display: flex;
  border-radius: 21px;
}