.desc{
  h4{
    font-size: 2.1rem;;
  }
}
.donate{
  font-size: 1.25rem;
  .nav{
    border-radius: 21px;
  }
  .p-53{
    white-space: normal;
    padding: 4.5rem 2rem;
    font-size: 1.5rem;
    @inlcude desktop-xxl{
      padding: 6rem 2rem;
      font-size: 2em;
    }
  }
  h5{
     font-size: 1.25rem;
     color: #1A4568;
  }
  .nav-item{
    background: white;
    color: black;
      border-radius: 21px;
    a{
      color: black;
    }
  }
  .nav-link.active{
    background: #1A4568;
     border-radius: 21px;
     color: #F2FBFF;
  }
}
#flex{
  display: flex;
  border-radius: 21px;
}