.donate{
  font-size: 1.25rem;
  .nav{
    border-radius: 21px;
  }
  h5{
     font-size: 1.25rem;
     color: #1A4568;
  }
  .nav-item{
    background: white;
    color: black;
      border-radius: 21px;
    a{
      color: black;
    }
  }
  .nav-link.active{
    background: #1A4568;
     border-radius: 21px;
    a{

    }
  }
}
#flex{
  display: flex;
  border-radius: 21px;
}