.products{
  h2{
    font-size: 1.875rem;
    text-transform: none;
    color: $black;
  }
  h2 .zzz{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: $green;
  }
  h2 .bbb{
    font-size: 2.188rem;
  }
  span .ccc{
    font-size: 2.813rem;
    text-transform: uppercase;
    color: $green;
  }
  .vv{
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.owl-nav{
  position: absolute;
  top: 20%;
  color: $white;
  font-size: 5rem;
  width: 100%;
}
.owl-nav .owl-next{
  position: absolute;
  right: 0;
}

.hh img{
  vertical-align: middle;
}
.hh img#img2{
  display: none;
}
.hh:hover img#img2{
  display: block;
}
.hh:hover img#img1{
  display: none;
}
.text1{
  color: white;
  text-align: center;
  font-size: 1.75rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: absolute;
  font-weight: bold;
  bottom: -4px;
  right: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: rgba(83,76,160,0.6);
}
.text2{
  display: none;
}
.text2 li{
  font-size: 1.9rem;
  text-align: left;
  @include desktop-xxl{
    font-size: 2.5rem;
  }
}
.hh:hover .text2{
  color: white;
  text-align: left;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36,164,155,0.5);
  @include desktop-xxl{
    font-size: 2.7rem;
  }
}
.hh:hover .text1{
  display: none;
}
.btm-right{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1.125rem;
}
.story{
  h3{
    font-size: 2.375rem;
    // font-weight: 600;;
  }
}
.hero-slider-wrapper {
	position: relative;
	z-index: 5;

	.item {
		position: relative;
		overflow: hidden;

    .item-image-2 {
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: 10%;

      img {
        width: 100%;
      }

       @include mobile {
          width: 100%;
          margin: 0;
       }

      // &::before {
      //  content: '';
      //  background: #0a0f61;
      //  position: absolute;
      //  top: 0;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  opacity: .28;
      // }

      // &:after {
      //   background: #000;
      // }
    }
		.item-image {
			position: relative;
			width: 40%;
			margin-left: auto;
      margin-right: 10%;

			img {
				width: 100%;
			}

			// &::before {
			// 	content: '';
			// 	background: #0a0f61;
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	opacity: .28;
			// }

			&:after {
				background: #000;
			}

			@extend .image-reveal;
		}
    
		.content {
			position: absolute;
			top: 33%;
			left: 7%;

			@include desktop {
				top: 20%;
        left: -10%;
			}

			@include mobile {
				top: 10%;
        left: -10%;
			}
      p{
        font-weight: 100;
      }
			// h2 {
			// 	font-weight: 600;
			// 	line-height: 110px;
			// 	font-size: 80px;
			// 	letter-spacing: 1px;
			// 	line-height: 1;
			// 	margin-bottom: 20px;
   //      font-weight: 900;;

			// 	span {
			// 		clip-path: inset(0 100% 0 0);
			// 	}

			// 	@include desktop-lg {
			// 		font-size: 60px;
			// 		line-height: 70px;
			// 		letter-spacing: 1px;
			// 	}

			// 	@include tablet {
			// 		font-size: 35px;
			// 		line-height: 40px;
			// 	}
			// }

			h3 {
				margin-bottom: 95px;
				letter-spacing: 2px;
				font-weight: 400;
				font-size: 20px;
				font-family: $secondary-font;

				@include desktop-lg {
					font-size: 20px;
					margin-bottom: 50px;
				}

				@include tablet {
					font-size: 16px;
					letter-spacing: 1px;
					margin-bottom: 30px;
				}
			}

			.hero-btn {
				padding: 25px 50px;
				font-weight: 600;
				color: $white;
				border-radius: 0;
				border: none;
				letter-spacing: 2px;
        width: 70%;
				// background: $btn-color;

        img{
          width: 100%;
          @include desktop {
            width: 70%;
          }
          @include mobile {
            width: 70%;
          }
          
        }

				@include desktop {
					padding: 20px 30px;
				}

				@include mobile {
					padding: 15px 25px;
				}
			}
		}
	}

	.slick-slide {
		outline: 0;
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		cursor: pointer;
		z-index: 5;
		background: transparent;
		border: none;
		outline: none;

		i {
			color: $white;
			opacity: .33;
			font-size: 25px;

			@include tablet {
				font-size: 20px;
			}
		}

		&:hover {
			i {
				opacity: 1;
			}
		}
	}

	.slick-next {
		right: 4%;
		bottom: 5%;
	}

	.slick-prev {
		right: 6%;
		bottom: 5%;
	}
}
.content_2{
 
  // h2{
  //   color: black;
  //   text-transform: uppercase;
  //   font-size: 84px;
  //   font-weight: 900;
  // }

  .hero-btn {
    padding: 25px 50px;
    font-weight: 600;
    color: #fff;
    border-radius: 3rem;
    border: none;
    letter-spacing: 2px;
    // width: 70%;
    background: black;
}
  @include desktop {
    width: 50%;
  }

  @include mobile {
    // h2{
    //   font-size: 3rem!important;
    //   line-height: 4.2rem!important;
    //   font-weight: 900;

    // }
    width:50%;
  }
}
.scroll {
	height: 70px;
	overflow: hidden;

	h6 {
		transform: rotate(-90deg);
		letter-spacing: 2px;
		position: relative;
		font-size: 13px;
		margin-top: 20px;
		font-family: $secondary-font;

		&::before {
			position: absolute;
			content: '';
			width: 30px;
			height: 1px;
			background: #9ea0c9;
			left: 48%;
			top: -4px;
			overflow: hidden;
			// animation-name: scroll_animation;
			// animation-duration: 1s;
			// animation-iteration-count: infinite;
			// animation-timing-function: ease-in-out;
		}
	}
}

// @keyframes scroll_animation {
// 	from {
// 		transform: translateX(0);
// 	}

// 	to {
// 		transform: translateX(-200%);
// 	}
// }