.nav-section{
    background: transparent;
    padding: 20px 0;
    .navbar{
        padding: 0 20px;
    }
}

.navbar-brand{
    padding: 0;
    margin-top: -10px;
}

#main-nav{
    .navbar-nav{
        align-self: center;
        font-family: $primary-font;
        @include desktop{
            text-align: center;
        }
        .nav-item{
            .nav-link{
                padding-right: 25px;
                padding-left: 25px;
                color: #1A4568;
                font-size: 20px;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: capitalize;
                text-decoration: none;
            }
            .text-green{
              color: $green;

            }
            .text-green:hover{
              text-decoration: underline;
            }
            .active {
              color: #02FD34;
              text-decoration-color: white;
              text-decoration: underline;
            }
        }
        .music-icon{
            padding-left: 55px;
            padding-right: 25px;
            a{
                vertical-align: middle;
                align-self: center;
            }
            @include desktop{
                display: none;
            }
        }
        .hamburger-icon{
            padding-left: 25px;
            a{
                vertical-align: middle;
            }
            @include desktop{
                display: none;
            }
        }
    }
}