.product1{
  img{

  }
  h2{
    font-size: 64px!important;
  }
  h3{
    font-size: 150px;
    text-transform: uppercase;
    border-bottom: 5px solid white;
    @include mobile{
      font-size: 80px
    }
  }
}
#helmet{
  background: black;
  h3,h4,p{
    color: black;
  }
  h3{
    font-size: 60px;
  }
  #line{
    height: 10rem;
    border-left: 2px solid black;
    @include desktop{
      display: none
    }
  }
}