.btn-black{
  background: black;
  color: white;
  border-radius: 3rem;
  padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.btn-white{
  background: white;
  color: black;
  border-radius: 3rem;
  padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.btn-50{
  width: 100%;
  border-radius: 10rem;
  @include tablet{
      width: 50%;
      border-radius: 50rem;
  }
}
.btn-floating{
    border-radius: 50%;
    padding: 0;
    position: relative;
}
.btn-lg {
    min-width: 3rem;
    min-height: 3rem;
}
.btn-primary{
  background-color: $green;
}
.btn-round-small{
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  @include desktop-xxl{
    width: 3rem;
    height: 3rem;
    font-size: 1.875rem;
  }
}


