.btn-black{
  background: black;
  color: white;
  border-radius: 3rem;
  padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.btn-white{
  background: white;
  color: black;
  border-radius: 3rem;
  // padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.img-btn{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 20%;
  position: absolute;
  top: 14%;
  left: 85%;
  img{
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }
}

.btn-danger:hover{
  background: $white;
  color: #dc3545;
  border: 3px solid #dc3545;
  font-weight: bold;
  svg path, svg text{
    fill:#dc3545;
  }
  // filter: invert(26%) sepia(30%) saturate(5075%) hue-rotate(334deg) brightness(98%) contrast(89%);
}
button:focus {
  outline: none;
}
.btn-green-outline{
  background-color: transparent;
  border: 1px solid $green;
  color: $green;
}
.btn-green-outline:hover{
  color: $red; 
  border: 1px solid $red;
}
.btn-red-outline{
  background-color: transparent;
  color: $red;
  border: 1px solid $red;
}
.btn-red-outline:hover{
  color: $green; 
  border: 1px solid $green;
}
.btn-red{
  background: $red;
  color: white;
}
.btn-green{
  background: $green;
  color: white;
}
.btn-blue{
  background: $blue;
  color: white;
}
#stupid-donate{
  @include mobile{
    
    margin: 0 10%;

  }
}
.btn-50{
  width: 100%;
  border-radius: 10rem;
  @include tablet{
      width: 50%;
      border-radius: 50rem;
  }
}
.btn-floating{
    border-radius: 50%;
    padding: 0;
    position: relative;
}
.btn-lg {
    min-width: 3rem;
    min-height: 3rem;
}
.btn-primary{
  background-color: $green;
}
.btn-primary:hover {
    color: $green;
    background-color: transparent;
    border-color: $green;
    // border-width: thick;
}
.btn-round-small{
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  @include desktop-xxl{
    width: 3rem;
    height: 3rem;
    font-size: 1.875rem;
  }
}


