.btn{
  font-size: 25px;
  min-width: 20%;
}
.btn-black{
  background: black;
  color: white;
  border-radius: 3rem;
  padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.btn-white{
  background: white;
  color: black;
  border-radius: 3rem;
  padding:  10px 50px;
  font-weight: 600;
  border: none;
}
.btn-50{
  width: 100%;
  border-radius: 10rem;
  @include tablet{
      width: 50%;
      border-radius: 50rem;
  }
}



