

body {
  line-height: 1.5;
  font-family: $secondary-font;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 1.4rem;
  letter-spacing: 1px;
  @include desktop-xxl{
      font-size: 1.75rem;
  }
  @include tablet{
      font-size: 1rem;
  }
}
h1,h3,h4,h5,h6 {
  font-family: $secondary-font;
  color: $text-color;

}

h1, h2, h3, h4, h5, h6 {
	font-weight:700;
}

.font-cursive{
  font-family: $special-font;
}
.f-100{
  font-weight: 100!important;
}
.f-200{
  font-weight: 200!important;
}
.f-700{
  font-weight: 700!important;
}
.f-900{
  font-weight: 900!important;
}
.font-3{
  font-size: 1.8rem;
  @include desktop-xl{
    font-size: 2.188rem;
  }
}
.text-blue{
  color: $blue;
}
.text-red{
  color: $red;
}
.text-green{
  color: $green;
}
.title-case{
  h2{
    font-size: 84px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    @include tablet{
        font-size: 3rem;
        line-height: 3.2rem;
        text-align: center;
    }
  }
  p{
    font-size: 1.5rem;;
    font-weight: 200;
    @include tablet{
        text-align: center;
    }
  }
}

// h1 {
//   font-size: 45px;
// }
h2 {
	font-size: 2.5rem;
  text-transform: capitalize;
  font-family: $secondary-font;
  color: $blue;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  @include desktop-xxl{
      font-size: 3.375rem;
  }
  @include tablet{
      font-size: 1.2rem;
  }
}
h3{
  color: #383737;
  font-size: 1.75rem;
  font-weight: 900;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  @include tablet{
      font-size: 1.1rem;
  }
}
// h4 {
// 	font-size:16px;
// }
h5{
  font-size: 1.875rem;
  font-weight: normal;
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 0.9s;
  animation-fill-mode: backwards;
  @include mobile{
    font-size: 1.2rem;
  }
}
p{
  animation-duration: 1s;
  animation-name: animate-fade;
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}
label{
  font-size: 15px;
  margin-bottom: 5px;
}
