// Colors
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap');
$primary-color: #0a6446;
$black: #000;
$white: #fff;
$green: #24A49B;
$blue: #534CA0;
$red: #EE2849;
$gray: #848484;
$grey: #CCD1D1;
$border-color:#d8dbdd;
$primary-font: 'Lato', sans-serif;;
$secondary-font: 'Poppins', sans-serif;
$icon-font: 'FontAwesome';
$text-color: #383737;
$text-color-dark: #05091D;
$btn-color: #FF1D5D;
$body-color: #0c5460;