<div class="section blog wf-section">
	<div class="container">
		<div class="row title-header margin-56">
			<div class="col _10-24"><h2 class="text-display-2">{{ .blog.title }}</h2></div>
		</div>
		<div class="row">
			<div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="false" role="region" aria-label="carousel">
				<div class="slider-mask w-slider-mask" id="w-slider-mask-0">
					{{ range $index, $element := .bb }}
						<div class="slide w-slide" aria-label="{{add $index 1}} of " role="group" style="transform: translateX(0px); opacity: 1;">
							<div class="w-dyn-list">
								<div role="list" class="w-dyn-items">
									<div role="listitem" class="w-dyn-item">
										<a href="{{.Permalink}}" class="blog-card w-inline-block" style="border-color: rgb(44, 44, 44);">
											<div class="blog-card-top">
												<div class="image-contain thumb margin-24"><img src="{{.Params.image}}" loading="lazy" alt="" class="image" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"></div>
												<div class="margin-56"><h1 class="text-display-5">{{.Params.name}}</h1></div>
											</div>
											<div class="blog-card-bottom">
												<div class="text-micro-1 text-color-dark">{{.Params.goal }}</div>
												<div class="text-micro-1 text-color-dark">View More</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					
					{{ end }}

		
			
										
					
					<div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore=""></div>
					<div aria-live="off" aria-atomic="true" class="w-slider-aria-label" data-wf-ignore=""></div>
				</div>
				<div class="slider-left-arrow w-slider-arrow-left" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="previous slide"><img src="./svg/634c5dba90db011e8761db3b_work-arrow.svg" loading="lazy" alt="" class="left-arrow-icon"></div>
				<div class="slider-right-arrow w-slider-arrow-right" role="button" tabindex="0" aria-controls="w-slider-mask-0" aria-label="next slide"><img src="./svg/634c5dba90db011e8761db3b_work-arrow.svg" loading="lazy" alt="" class="right-arrow-icon"></div>
				<div class="slider-nav w-slider-nav w-round">
					<div class="w-slider-dot w-active" data-wf-ignore="" aria-label="Show slide 1 of 7" aria-pressed="true" role="button" tabindex="0" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 2 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 3 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 4 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 5 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 6 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
					<div class="w-slider-dot" data-wf-ignore="" aria-label="Show slide 7 of 7" aria-pressed="false" role="button" tabindex="-1" style="margin-left: 3px; margin-right: 3px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>