<div class="section home-hero wf-section">
	<div class="container">
		<div class="row home-hero">
			<div class="reel-contain home-hero">
				<div class="reel-inner home-hero">
					<div data-poster-url="https://assets.website-files.com/634846d7de76d123f3a81c28/634c76825cb8acf289ff9228_Home Hero 2-poster-00001.jpg" data-video-urls="https://assets.website-files.com/634846d7de76d123f3a81c28/634c76825cb8acf289ff9228_Home Hero 2-transcode.mp4,https://assets.website-files.com/634846d7de76d123f3a81c28/634c76825cb8acf289ff9228_Home Hero 2-transcode.webm" data-autoplay="true" data-loop="true" data-wf-ignore="true" class="reel w-background-video w-background-video-atom">
						<video id="a58f1f1c-240e-bdcf-b311-80d1f37c9154-video" autoplay="" loop="" style="background-image:url(&quot;https://assets.website-files.com/634846d7de76d123f3a81c28/634c76825cb8acf289ff9228_Home Hero 2-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="http://shinajii.com/img/homeVideo.mp4" data-wf-ignore="true">
							<source src="http://shinajii.com/img/homeVideo.mp4" data-wf-ignore="true">
						</video>
					</div>
				</div>
			</div>
			<div class="col _21-24 z-index-5">
				<h1 class="text-display-1 center"></h1>
			</div>
			<div class="row home-hero-bottom">
				<div class="col _4-24 text-small">
					<div class="text-micro-1 text-color-dark">{{.desc}}
					</div>
				</div>
				<a href="#track-visual" class="hero-scroll w-inline-block"><img src="./svg/634c5db9a2d140599be9fe25_hero-arrow.svg" loading="lazy" alt=""></a>
			</div>
		</div>
	</div>
</div>