<div class="col-sm-12  col-12 col-12 p-0 m-0 " >
  <div class="hero-slider-wrapper">
    <div class="item">
    	<div class="video image-reveal item-image-2 image-reveal mr-auto ml-0 hh rounded-1 vv" style="animation-delay: 2s;">
			<!-- Video Thumb -->
			 {{ partial "image.html" (dict "image" .image  "class" "img-fluid shadow") }}
			<!-- Video Button -->
			<div class="video-button video-box">
				<a href="javascript:void(0)">
					<i class="fa fa-play" data-video="https://www.youtube.com/embed/{{.video}}?autoplay=1"></i>
				</a>
			</div>
		</div>
     
    </div>
  </div>
</div>
