<div class="inline-block col col-sm-12 col-12 col-lg-7  my-0  ml-auto bg-white content_2 content text-left py-lg-5 py-3 px-lg-5 px-4 ">
	<div class=" py-lg-5  ml-lg-5">
    <h2>
      
          {{.title | markdownify}}
      
    </h2>
    <h3 class="mt-5 font-italic">{{ .subtitle | markdownify }}</h3>
    <p>{{ .content | markdownify }}</p>
    <h3>{{ .subtitle_2 | markdownify }}</h3>
    <p>{{ .content_2 | markdownify }}</p>
    {{ if .button_2.enable }}
    {{ with .button_2 }}
    <a href="{{if .Pre}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}" class="hero-btn btn page-scroll" class=" my-3 hero-btn btn page-scroll">{{.label}}</a>
    {{ end }}
    {{ end }}
</div>
</div>
<div class="inline-block col col-sm-12  col-12 col-lg-5 p-0 ml-auto bg-white my-0 px-lg-3 py-lg-5" >
  <div class="align-middle py-lg-5  hero-slider-wrapper">
    <div class="item px-2 px-lg-0 mr-lg-5" >
      <div class="item-image-2 image-reveal my-5 mr-auto ml-0 hh rounded-1 " style="animation-delay: 2s;">
        {{ partial "image.html" (dict "image" .image "id" "img1" "class" "rounded-1") }}
        <div class="text1 rounded-1">{{.image_text | markdownify}}<span class="btm-right">see more...</span></div>
        {{ partial "image.html" (dict "image" .image_2 "id" "img2" "class" "rounded-1" ) }}
        <div class="text2 rounded-1">{{.image_text_2 | markdownify}}</div>
      </div>
    </div>
  </div>
</div>
