<div class="section partners wf-section">
	<div class="container">
		<div class="row">
			<div class="track">
				<div class="track-line" style="transform: translate3d(-58.167%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
					{{range .partner}}
						<div class="track-item"><img src="img/{{ .image}}" loading="lazy" alt=""></div>
					{{ end }}
				</div>
				<div class="track-line" style="transform: translate3d(-58.167%, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; will-change: transform;">
					{{range .partner}}
						<div class="track-item"><img src="img/{{ .image}}" loading="lazy" alt=""></div>
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</div>