{{ define "main" }}
{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<div class="contact" id="contact">
  <div class="container-fluid mb-5 ">
    <div class="row title-case mb-lg-5">
    	<div class="col-12 col-lg-6 ">
    		{{ partial "image.html" (dict "image" .image "id" "img1" "class" "img-responsive img-fluid w-100") }}
    	</div>
      <div class="col-12 col-lg-6">
        {{ partial "contact_form.html" (dict ) }}
      </div>
    </div>
  </div>
  
</div>
{{ partial "contact_modal.html" (dict ) }}
{{ end }}
{{ end }}




{{ end }}
