{{ define "main" }}
{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<div class="contact" id="contact">
  <div class="container-fluid mb-5 ">
    <div class="row title-case mb-lg-5">
    	<div class="col-12 col-lg-6 mt-5 mt-lg-0 p-0">
    		{{ partial "image.html" (dict "image" .image "id" "img1" "class" "img-responsive img-fluid w-100") }}
    	</div>
      <div class="col-12 col-lg-6">
        <form class="contact-form-ajax" method="post" action="{{ .formspree_action }}">
            <div class="row bg-green px-3 py-5 rounded-1 shadow">
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input type="email" autocomplete="email" class="form-control" placeholder="Email" name="email" id="email" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea id="message" placeholder="Dear Breathe Life, I have some questions to ask..." class="form-control" name="message" required rows="5"></textarea>
                    </div>
                </div>

                <div class="col-sm-12 text-center pt-5">
                  <button type="submit" class="btn btn-danger rounded-1 px-6">Submit</button>

                </div>
            </div>
            <!-- /.row -->
        </form>
      </div>
    </div>
  </div>
  
</div>
{{ end }}
{{ end }}




{{ end }}
