{{ define "main" }}
{{ with .Params }}
<section class="donate">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 mt-5 p-5">
        <div class="container">
        	<h2 class="text-center">{{ .title }}</h2>
        	{{ range .desc }}
	        	<div class="mb-5">
        		<h4>{{ .title }}</h4>
        		{{ .desc | markdownify }}
        		</div>
        	{{ end }}
        	<a href="/donation" class="btn btn-danger rounded-1 px-5 f-700" id='stupid-donate'>Donate Here!</a>
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-5">
        {{ partial "image.html" (dict "image" .image "class" "img-fluid w-100" ) }}
      </div>

    </div>
  </div>
</section>
{{ end }}
{{ end }}