{{ define "main" }}
{{ with .Params }}
<section class="donate">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-6 mt-5 p-5">
        <div class="container">
        	<h2 class="text-center">{{ .title }}</h2>
        	{{ range .desc }}
	        	<div class="mb-5">
	        		<div class="row">
	        		<h4 class="col-9 col-md-10 px-0">{{ .title }}</h4><a href="/donation" class="btn btn-danger rounded-1 col-md-2 f-700 col-3">Give</a><br>
	        		<div class="col-12 px-0">{{ .desc | markdownify }}</div>
	        		</div>
        		</div>
        	{{ end }}
        	
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-5">
        
        <a href="{{.img.url}}">{{ partial "image.html" (dict "image" .image "class" "img-fluid w-100" ) }}</a>
      </div>

    </div>
  </div>
</section>
{{ end }}
{{ end }}