{{ define "main" }}
{{ with .Params }}
<section class="donation">
  <div class="container-fluid">
    <div class="row row-eq-height">
      <div class="col-12 col-12 mt-5 ">
        <div class="container bg-green">
          <div class="container  p-3 rounded-2">
			  	<div class="row px-md-5 row-eq-height mt-5">
			  		<div class="col-md-6 col-6  align-mid">
				  		<a class="col btn btn-white rounded-2 py-3 active" id="stripe-tab" data-toggle="tab" href="#stripe" role="tab" aria-controls="home" aria-selected="true">Stripe</a>
			  		</div>

					  <div class="col-md-6 col-6  align-mid">
				  		 <a class="col btn btn-white rounded-2 py-3" id="gdg-tab" data-toggle="tab" href="#gdg" role="tab" aria-controls="profile" aria-selected="false">GDG<span style="font-size: 0.8em;">(tax benefit)</span></a>
			  		</div>
			  		<div class="col-md-6 col-6 mt-2 align-mid">
				  	</div>
						<div class="col-md-6 col-6 mt-2 align-mid">
					  	<p>tax benefit for USA, Aus, Nz</p>
				  	</div>
				  </div>
			</div>
			<div class="tab-content pb-4" id="paymentTabContent">
			  <div class="tab-pane fade show active" id="stripe" role="tabpanel" aria-labelledby="profile-tab">
			  	<ul class="nav nav-pills justify-content-center mt-5 " id="myTab" role="tablist">
	          	<div class="bg-white" id="flex">
				  <li class="nav-item">
				    <a class="nav-link-2 nav-link active px-6" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">One Time</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link-2 nav-link px-6" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Monthly</a>
				  </li>
				  </div>
				</ul>
				<div class="tab-content py-4 mt-3" id="myTabContent">
					<h5 class="text-center mb-3 pb-4">Choose an amount to donate</h5>
				  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				  	<div class="row px-md-5 row-eq-height">
				  		{{ range .one}}
					  		<div class="col-md-6 col-6  mb-5 align-mid">
					  			<div class="row w-100">
							  		<a href="{{ .url}}" class="col btn btn-white rounded-2 py-3 col-12">{{ .amount}}</a>
							  		<p class="col col-12">{{.info}}</p>
						  		</div>
					  		</div>
					  	{{ end }}
				  	</div>
				  	
				  </div>
				  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				  	<div class="row px-md-5 row-eq-height">
				  		{{ range .monthly}}
					  		<div class="col-md-6 col-6  mb-5 align-mid">
						  		<a href="{{ .url}}" class="col btn btn-white rounded-2 py-3">{{ .amount}}</a>
					  		</div>
					  	{{ end }}
				  	</div>
				  </div>
				</div>
			  </div>
			  <div class="tab-pane fade " id="gdg" role="tabpanel" aria-labelledby="home-tab">
			  	<h5 class="text-center mb-3 pb-4">For Tax Benefit</h5>
			  	<div class="raisely-donate" data-campaign-path="breathelife-gdg-j1122n" data-profile="" data-width="100%" data-height="800"><script src=https://cdn.raisely.com/v3/public/embed.js></script></div>		  	
			  	
			  </div>
			</div>
	          
	          
			</div>
        </div>
      </div>
    <!--   <div class="col-12 col-lg-6 mt-5">
        {{ partial "image.html" (dict "image" .image "class" "img-fluid w-100" ) }}
        <a href="{{.img.url}}" class="img-btn"><img src="/images/star.svg" class="w-100" alt=""></a>
      </div> -->

    </div>
  </div>
</section>
{{ end }}
{{ end }}

