{{ define "main" }}

<!--==================================
=            technology Promo            =
===================================-->

{{ if .Params.about.enable }}
{{ with .Params.about }}
<section class="section technology-featured pt-0 product1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  col-12 col-lg-8 technology-featured my-lg-5 py-3 px-4 text-left">
        <div class="block">
          <!-- written-content -->
          <div class="content py-lg-5 title-case rev">
            <!-- technology heading -->
            <h2 class="text-uppercase ">{{ .title }}</h2>
            <!-- technology Description -->
            <h3>{{ .content | markdownify }}</h3>
            <a class="my-3 btn-white btn page-scroll f-200"
                  href="{{if .Pre}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
          </div>
          <!-- Promo Video -->
        </div>
      </div>
      <div class="col-sm-12  col-12 col-lg-4 my-lg-auto">
	      <img src="{{ .image | absURL }}" class="img-fluid" alt="slider-image">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--====  End of technology Promo  ====-->

<!--=============================
=            Gallery            =
==============================-->
{{ if .Params.product.enable }}
{{ with .Params.product }}

<section class="vision" id="helmet">
  <div class="container-fluid px-lg-5 ">
    <div class="row">
      <div class="col-12">
        <div class="visions row">
          {{ range .vision_item }}
          <div class="col-12 col-sm-12 py-2 px-0">
            <div class="card mx-3 bg-white" id="{{.title}}">
            	<div class="row">
            		<div class="col-12 col-lg-4 col-sm-12">
            			<img src="{{ .image | absURL }}" class="card-img-top img-fluid" alt="vision-thumb">
            		</div>
            		<div class="col-12 col-lg-8 col-sm-12">
            			<div class="card-body text-left">
			              <h3 class='f-900'>{{ .title | markdownify }}</h3>
			              <h4 class='f-200'>{{ .section | markdownify }}</h4>
			              <div class="row">
			              	<div class="col-12  ml-3" id="line"></div>
			              	<div class="col-12 col-lg-8">
			              		<p>{{ .content | markdownify}}</p>
			              	</div>
			              	<div class="col-12 col-lg-4 text-right">
			              		<a class="my-3 btn-black btn page-scroll" href="{{ .link }}" target="_blank">{{ .name }}</a>
			              	</div>
			              </div>
			            </div>
            		</div>
            	</div>
	             
            
	            
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!--====  End of Gallery  ====-->

<!--===============================
=            Fun Facts            =
================================-->

{{ if .Params.funfacts.enable }}
{{ with .Params.funfacts }}
<section class="section technology-featured ">
  <div class="container">
    <div class="row">
      <div class="col-sm-12  col-12 col-lg-7">
        <img src="{{ .image | absURL }}" class="img-fluid" alt="slider-image">
      </div>
      <div class="col-sm-12  col-12 col-lg-5 technology-featured my-lg-5 py-3 px-4 text-left">
        <div class="block">
          <!-- written-content -->
          <div class="content py-lg-5 title-case">
            <!-- technology heading -->
            <h2 class="text-uppercase">{{ .title }}</h2>
            <!-- technology Description -->
            <p>{{ .content | markdownify }}</p>
          </div>
          <!-- Promo Video -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--====  End of Fun Facts  ====-->

<!--===============================
=            Job lists            =
================================-->
{{ if .Params.career.enable }}
{{ with .Params.career }}
<section class="hero-slider">
  <div class="container-fluid p-0 m-0 ">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto my-5">
        <div class="hero-slider-wrapper">
          <div class="item">
            <div class="item-image image-reveal" id="image-100" style="animation-delay: 2s;">
              <img src="{{ .image | absURL }}" alt="slider-image">
            </div>
            <div class="content text-white" id="content-50">
              <h2><span class="rev">{{ .title | markdownify}}</span></h2>
              <p>{{ .content | markdownify }}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!--====  End of Job lists  ====-->

{{ end }}