{{ define "main" }}
{{ with .Params.spec }}
<section id='single'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 bg-grey py-5">
				<span class="pl-lg-5 text-uppercase ">
					<a href="{{.main | absURL }}">{{replace .main "_" " "}}</a>/<a href="{{.type | absURL }}">{{replace .type "_" " "}}</a>/<b>{{.name}}</b>
				</span>
				<div class="owl-carousel owl-theme" data-slider-id="1">
					{{ range $num := (seq .images_total) }}
						<img loading="lazy" src="{{ "images/helmet" | absURL }}/c{{.}}.png" class="mt-5 card-img-top img-fluid" alt="vision-thumb">
					{{ end }}
				</div>
				<div class="owl-thumbs bg-grey" data-slider-id="1">
					
					{{ range $num := (seq .images_total) }}
				    {{ end }}
				</div>
			</div>
			<div class="col-12 col-md-6 py-5 bg-grey">
				{{ partial "partials/product/product.html" . }}
			</div>
		</div>
	</div>
</section>
{{ end }}
{{with $.Site.Data.products}}
<section id="spec">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				{{ partial "partials/product/right_img.html" (dict "title" .title_1  "desc" .desc_1 "img" .imaeg_1 "bg_color" "white") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/btm_img.html" (dict "title" .title_2  "desc" .desc_2 "img" .imaeg_2a  "img_2" .imaeg_2a "bg_color" "grey") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/left_img.html" (dict "title" .title_3  "desc" .desc_3 "img" .imaeg_3 "bg_color" "white") }}
			</div>
			<div class="col-12">
		        {{ partial "partials/product/right_img.html" (dict "title" .title_4  "desc" .desc_4 "img" .imaeg_4 "bg_color" "grey") }}
		    </div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}