{{ define "main" }}
{{ with .Params.spec }}
{{ $.Scratch.Set "image" "images/specs/" }}
{{ $.Scratch.Add "image" .type }}
{{ $.Scratch.Add "image" "/a1.png" }}
{{ $.Scratch.Set "image_2" "images/specs/" }}
{{ $.Scratch.Add "image_2" .type }}
{{ $.Scratch.Add "image_2" "/a2.png" }}
{{ $.Scratch.Set "image_3" "images/specs/" }}
{{ $.Scratch.Add "image_3" .type }}
{{ $.Scratch.Add "image_3" "/a3.png" }}
<section id='single'>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-6 py-5">
				<span class="pl-lg-5 text-uppercase ">
					<a href="{{.main | absURL }}">{{replace .main "_" " "}}</a>/<a href="{{.type | absURL }}">{{replace .type "_" " "}}</a>/<b class='text-white'>{{.name}}</b>
				</span>
				<div id="slider">
					<div class="owl-carousel owl-theme" data-slider-id="1">
						{{ $img:= .image }}
						{{ range $num := (seq .images_total) }}
							<img loading="lazy" src="{{ $img | absURL }}/{{.}}.png" class=" mt-5 card-img-top img-fluid px-10 " alt="vision-thumb">
						{{ end }}
					</div>
				</div>
				<div id="thumb_slider">
					<div class="owl-thumbs" data-slider-id="1">
						{{ range $num := (seq .images_total) }}
					    {{ end }}
					</div>
				</div>
			</div>
			<div class="col-12 col-md-6 py-5">
				{{ partial "partials/product/product.html" . }}
			</div>
		</div>
	</div>
</section>
{{ end }}
{{with $.Site.Data.products}}
<section id="spec">
	<div class="container">
		<div class="row">
			<div class="col-12 title-case text-center">
				<h2>{{ .title }}</h2>
			</div>
			<div class="col-12">
				{{ partial "partials/product/right_img.html" (dict "title" .title_1  "desc" .desc_1 "img" ($.Scratch.Get "image") "bg_color" "black" "h2_class" "text-decoration-none") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/left_img.html" (dict "title" .title_2  "desc" .desc_2 "img" ($.Scratch.Get "image_2") "bg_color" "black" "h2_class" "text-decoration-none") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/right_img.html" (dict "title" .title_3  "desc" .desc_4 "img" ($.Scratch.Get "image_3") "bg_color" "black" "h2_class" "text-decoration-none") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/left_img.html" (dict "title" .title_4  "desc" .desc_4 "img" .image_4 "bg_color" "black") }}
			</div>
			<div class="col-12">
				{{ partial "partials/product/btm_img.html" (dict "title" .title_5  "desc" .desc_5 "img" .image_5a  "img_2" .image_5b "bg_color" "black") }}
			</div>
			<div class="col-12">
		        {{ partial "partials/product/right_img.html" (dict "title" .title_6  "desc" .desc_6 "img" .image_6 "bg_color" "black") }}
		    </div>
		</div>
	</div>
</section>
{{ end }}
{{ end }}