{{ define "main" }}

<!--==================================
=            testimonial Promo            =
===================================-->

{{ with .Params.banner }}
<section class="testimonials ">
  <div class="container-fluid p-0 m-0 ">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto ">
      	<div class="owl-carousel owl2 owl-theme h-screen" >
      		{{range .slide}}
		    <div class="item text-center">
		    	<div class="row">
		    		
		    		<div class="col-6 col-sm-12">{{ partial "full_width_image.html" (dict "image" .image ) }}</div>
		    	</div>
		    	
		    </div>
		    {{ end }}
		</div>
		
    
</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ if .Params.teams.enable }}
{{ with .Params.teams }}
<section class="pt-0 teams bg-white">
	<div class="container">
		<div class="row">
			<div class="col-12 m-5 pt-5"><h2 class="text-center">{{ .title }}</h2></div>
			
		{{ range .members}}
		

		{{ $pop  := (cond (ne (.position) "left") "left" "right")}}
			<div class="col-12 m-5  bg-green rounded-1">
				<div class="px-lg-5 text text-{{ .position}} float-{{ $pop }} text-{{ .position }}">
					<h2>{{ .name }}</h2>
					<h3>{{ .pose | markdownify }}</h3>
				</div>
				<div class="img-{{ .position }} float-{{ .position}}"> {{ partial "image.html" (dict "image" .img "id" "img2" "class" "rounded-1" ) }}</div>
			</div>
		{{ end }}
		</div>
	</div>
</section>
{{ end }}
{{ end }}

<!--====  End of technology Promo  ====-->




{{ end }}