{{ define "main" }}

<!--==================================
=            testimonial Promo            =
===================================-->

{{ with .Params.banner }}
<section class="testimonials ">
  <div class="container-fluid p-0 m-0 ">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto ">
      	<div class="owl-carousel owl2 owl-theme h-screen" >
      		{{range .slide}}
		    <div class="item text-center">
		    	<div class="row">
		    		
		    		<div class="col-12">{{ partial "full_width_image.html" (dict "image" .image ) }}</div>
		    	</div>
		    	
		    </div>
		    {{ end }}
		</div>
		
    
</div>
      </div>
    </div>
  </div>
</section>
{{ end }}



<!--====  End of technology Promo  ====-->




{{ end }}