<div class="contact-form-ajax">
  <div class="row bg-green px-3 py-5 rounded-2 shadow">
      <div class="col-sm-6">
          <div class="form-group">
              <input type="text" class="form-control" name="a" id="a" placeholder="Name" required>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group">
              <input type="email" autocomplete="email" class="form-control" placeholder="Email" name="b" id="b" required>
          </div>
      </div>
      <div class="col-sm-12">
          <div class="form-group">
              <input type="text" class="form-control" name="d" id="d" placeholder="Subject" required>
          </div>
      </div>
      <input type="hidden"  name="a1" id="a1" >
      <input type="hidden"  name="a2" id="a2" >
      <div class="col-sm-12">
          <div class="form-group">
              <textarea  placeholder="Dear Breathe Life, I have some questions to ask..." class="form-control" name="c" id="c" required rows="5"></textarea>
          </div>
      </div>

      <div class="col-sm-12 text-center pt-5">
        <button type="submit" class="btn btn-danger rounded-1 px-6" id="mail-ss">Submit</button>

      </div>
  </div>
  <!-- /.row -->
</div>