<footer id="contact" class="section footer">
	<div class="container footer margin-40">
		<div class="row footer">
			<div class="social-wrap margin-32">
				{{ range site.Params.social }}
					<a href="{{ .link }}" target="_blank" class="social-item w-inline-block"><div>{{ .title }}</div></a>
				{{ end }}
			</div>
		<div class="margin-24"><h2 class="text-display-1">get in touch</h2></div>
			<a href="mailto:{{  site.Params.contact.email }}" target="_blank" class="text-link text-color-accent">{{  site.Params.contact.email }}</a>
		</div>
	</div>
	<div class="container">
		<div class="row footer-bottom">

			
			
			<a href="https://www.shinajii.com/" target="_blank" class="text-link">POWERED BY SHINAJII</a>
			<!-- div class="footer-links"><a href="https://honor-template.webflow.io/template/style-guide" class="text-link">STYLE GUIDE</a>
			<div class="text-divider">/</div><a href="https://honor-template.webflow.io/template/licenses" class="text-link">LICENSES</a>
			<div class="text-divider">/</div><a href="https://honor-template.webflow.io/template/changelog" class="text-link">CHANGELOG</a>
			<div class="text-divider">/</div><a href="https://honor-template.webflow.io/template/support" class="text-link">SUPPORT</a></div>
 -->			<a href="http://www.leonardomattar.com/" target="_blank" class="text-link">{{ dateFormat "2006" now }} © Shinajii Sdn Bhd. All Rights Reserved</a>
		</div>
		{{  site.Params.contact.address | safeHTML }}
	</div>
</footer>
<!-- Back to top button -->



{{ $jj := resources.Get "js/jquery-3.5.1.min.js"  }}
<script src="{{ $jj.Permalink }}" async></script>
{{ $js := resources.Get "js/script.js"  }}
<!-- {{ $script := $js | resources.Minify }} -->
<script src="{{ $js.Permalink }}" async></script>
<!--[if lte IE 9]>
<script  src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->


</body>
</html>