<footer>
	<div class="row">
		<div class="col-lg-2 text-right px-0">
			<a href="/"><img src="{{`images/logo.svg` | absURL}}" class="img-fluid" alt="section-bg"></a>
		</div>
		<div class="col-lg-5 col-4">
			<div class="row center">
				<div class="col col-12">
					<h2 class="mb-0">contact us</h2>
				</div>
				<div class="col-12 text-blue py-lg-3">
					<span id="rb-5">{{  site.Params.contact.phone }}</span>{{  site.Params.contact.email }}
				</div>
				<div class="col-12">
					{{ range site.Params.social }}
					<a href="{{ .link }}" class="btn btn-primary btn-floating btn-round-small"><i class="fa {{ .icon }}"></i></a>
					{{ end }}
				</div>
			</div>
			
		</div>
		<div class="col-lg-5 col-5 text-right px-0">
			<div class="row text-left pl-lg-5">
				{{  site.Params.contact.text | markdownify }}
				<div class="col-12 mt-4">
					<div class="row">
						{{ range site.Params.aaa }}
							<a href="{{ .url }}" class="col-4 text-red f-700">{{ .title }}</a>
						{{ end }}
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="col-12 text-center my-lg-5 pt-lg-3">
			{{  site.Params.footer.title | markdownify }}
		</div>
	</div>
</footer>
<!-- Back to top button -->
<a href="/donate" class="btn btn-danger btn-floating " id="btn-donate"><img src="./images/donate.svg" alt=""></a>
<button
	type="button"
	class="btn text-danger btn-light btn-floating btn-lg"
	id="btn-back-to-top"
	>
	<i class="fa fa-chevron-up"></i>
</button>
{{ "<!-- Google Map API -->" | safeHTML }}
{{ with site.Params.map.gmap_api }}
<script src="{{ . | safeURL }}"></script>
{{ end }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js" integrity="sha512-k2GFCTbp9rQU412BStrcD/rlwv1PYec9SNrkbQlo6RZCf75l6KcC3UwDY8H5n5hl4v77IDtIPwOk9Dqjs/mMBQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>

<!-- cookie -->
{{ if site.Params.cookies.enable }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
	This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-sm border ml-2">I Accept</span>
</div>
<script>
	(function ($) {
		const cookieBox = document.getElementById('js-cookie-box');
		const cookieButton = document.getElementById('js-cookie-button');
		if (!Cookies.get('cookie-box')) {
			cookieBox.classList.remove('cookie-box-hide');
			cookieButton.onclick = function () {
				Cookies.set('cookie-box', true, {
					expires: {{ site.Params.cookies.expire_days }}
				});
				cookieBox.classList.add('cookie-box-hide');
			};
		}
	})(jQuery);
	
</script>
<script>
	
</script>
<!-- cookie style -->
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
{{ end }}