{{ "<!-- navigation -->" | safeHTML }}
<header class="nav-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand d-lg-none d-xl-none" href="{{ site.BaseURL | relLangURL }}">
            {{ if site.Params.logo }}
            <img class="logo" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}" alt="{{ site.Title }}">
            {{ else }}
            {{site.Title}}
            {{ end }}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
              <img src="{{`images/hamburger-icon.png` | absURL}}" class="img-fluid" alt="menu">
            </span>
          </button>
          <div class="collapse navbar-collapse" id="main-nav">
          	<a class="navbar-brand d-none d-lg-block d-xl-block" href="{{ site.BaseURL | relLangURL }}">
	            {{ if site.Params.logo }}
	            <img class="" width="{{site.Params.logo_width}}" src="{{ site.Params.logo | absURL}}" alt="{{ site.Title }}">
	            {{ else }}
	            {{site.Title}}
	            {{ end }}
	        </a>
	        <div class="navbar-nav mt-lg-5">
	        <span class="nav-item ">
	        	{{ $active :=  "" }}
	        	{{ $active = or $active (and (eq site.Params.menu "donation") (eq .Title "donation")) }}
	        <a class="nav-link page-scroll text-green f-700 {{ if $active }}active{{ end }}" href="{{ site.Params.menu | relLangURL }}">{{site.Params.menu}}</a>
	        </span>
	        </div>
            <ul class="navbar-nav mx-auto mr-lg-5 mt-lg-5">
            	
		          {{ $current := . }}

              {{ range site.Menus.main }}
              {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
						  {{ $active = or $active (eq .Name $current.Title) }}
						  {{ $active = or $active (and (eq .Name "Home") (eq $current.Title "Breathe Life")) }}
						  {{ $active = or $active (and (eq .Name "home") (eq $current.Section "tags")) }}
              <li class="nav-item px-3">
                <a class="nav-link page-scroll {{ if $active }}active{{ end }}"
                  href="{{if .Pre}}{{site.BaseURL | absLangURL}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}">{{ .Name }}</a>
              </li>
              {{ end }}
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}