{{ .Params.image_1 }}
<section class="section technology-featured pt-0">
  <div class="container">
    <div class="row px-3">
    	<div class="col-sm-12  col-12 my-lg-auto px-0">
    		
    		 <!-- .Params.image_1 -->
    		{{ partial "image.html" (dict "image"  .Params.image_1  "class" "img-fluid" "id" "image-100" ) }}
	    </div>
	    <div class="col-6 my-lg-auto px-0">
	    	{{ partial "image.html" (dict "image" .Params.image_2 "class" "img-fluid" ) }}
        
	    </div><div class="col-6 my-lg-auto px-0">
        {{ partial "image.html" (dict "image" .Params.image_3 "class" "img-fluid" ) }}
	    </div>
    </div>
  </div>
</section>
