<div class="row">
	<div class="col-12">
		<h2 class="text-black">RF</h2>
	</div>
	<div class="col-12">
		<h3 class="text-black">{{.name}}</h3>
	</div>
	<div class="col-12">
		<h3 class="text-black">Sizes</h3>
		<div class="row">
			{{ range .size }}
				<div class="col-4 text-center">
					<div class='size ' style="background: {{ .color}};"><p>{{ .size }}</p></div>
					<p>{{ .diameter}}cm</p>
				</div>
			{{ end }}
		</div>
	</div>
	<div class="col-12">
		<h3 class="text-black">graphice</h3>
		<div class="row">
			{{ range .graphice }}
			<div class="col-4">
				<img src="{{ .images | absURL }}" class="img-fluid img-replace" alt="{{ .count}}" name= "{{ .name | absURL }}">
			</div>
			{{ end }}
		</div>
	</div>
	<div class="col-12">
		<h3 class="text-black">color</h3>
		<div class="row">
			{{ range .color }}
			<div class="col-4">
				<img src="{{ .images | absURL }}" class="img-fluid img-replace" alt="{{ .count}}" name= "{{ .name | absURL }}">
			</div>
			{{ end }}
		</div>
	</div>
</div>
<script>

</script>