<div class="row">
	<div class="col-12">
		<h2 class=""><img src = "{{.title | absURL }}" alt="{{ .name }}"/></h2>
	</div>
	<div class="col-12">
		<h3 class="">{{.name}}</h3>
	</div>
	<div class="col-12">
		<h3 class="">Sizes</h3>
		<div class="row">
			{{ range .size }}
				<div class="col-4 text-center">
					<button type="button" class="btn btn-50 btn-lg rounded-pill text-uppercase" style="background: {{ .color}};">{{ .size }}</button>
					<p>{{ .diameter}}cm</p>
				</div>
			{{ end }}
		</div>
	</div>
	<div class="col-12">
		<h3 class="">graphic</h3>
		<div class="row" id='graphice-img'>
			{{ range $index, $element :=.graphic }}
				<div class="col-3 py-2">
					{{ if eq $index 0 }}
						<img src="{{ $element.images | absURL }}" class="img-active img-fluid img-replace color-replace" alt="{{ $element.count}}" name= "{{ $element.name | absURL }}" id='{{ $index}}{{$element.color }}{{ $element.color_count }}'>
					{{ else }}
						<img src="{{ $element.images | absURL }}" class="img-fluid img-replace color-replace" alt="{{ $element.count}}" name= "{{ $element.name | absURL }}" id='{{ $index}}{{$element.color }}{{ $element.color_count }}'>
					{{ end }}
				</div>
			{{ end }}
		</div>
	</div>
	<div class="col-12" id="color">
		<h3 class="">color</h3>
		<div class="row color-img">
			{{ $name := .color_name }}
			{{ $count := split .color_count "," }}

			{{ range $num := (seq .colors ) }}
			<a href="javascript:void(0);" class=" delete col-3">
				{{ if eq $num 1 }}
					<img src="{{ $name | absURL }}color/{{.}}/1.png" class="img-active img-fluid img-replace" alt="{{ index ( $count) (sub $num 1) }}" name= "{{ $name | absURL }}color/{{.}}/">
				{{ else }}
					<img src="{{ $name | absURL }}color/{{.}}/1.png" class="img-fluid py-2 img-replace" alt="{{ index ( $count) (sub $num 1) }}" name= "{{ $name | absURL }}color/{{.}}/">
				{{ end }}
			</a>
			{{ end }}
		</div>
	</div>
</div>
<script>

</script>