{{ define "main" }}

{{ if site.Data.homepage.banner.enable }}
{{ with site.Data.homepage.banner }}
<section class="hero-slider">
  <div class="container-fluid p-0 m-0 ">
    <div class="row m-0">
      <div class="col-12 p-0 ml-auto my-5">
        <div class="hero-slider-wrapper">
          <div class="item">
            <div class="item-image image-reveal" style="animation-delay: 2s;">
              <img src="{{ .image | absURL }}" alt="slider-image">
            </div>
            <div class="content">
              {{ if .button.enable }}
              {{ with .button }}

              <a href="{{if .Pre}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}" class="hero-btn btn page-scroll"><img loading="lazy" src="{{ .label }}" alt="slider-image"></a>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12  col-12 col-lg-6 p-0 ml-auto bg-white my-lg-5 my-0" id="advance">
        <div class="hero-slider-wrapper">
          <div class="item">
            <div class="item-image-2 image-reveal mr-auto ml-0" style="animation-delay: 2s;">
              <img loading="lazy" src="{{ .image_2 | absURL }}" alt="slider-image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-12 col-lg-6  my-0 px-lg-0 ml-auto bg-white my-lg-5 content_2 content text-left py-lg-5 py-3 px-4 ">
      	<div class="align-middle py-lg-5">
	        <h2>
	          
		          {{.title_2 | markdownify}}
	          
	        </h2>
	        <h3>{{ .content_2 | markdownify }}</h3>
	        {{ if .button_2.enable }}
	        {{ with .button_2 }}
	        <a href="{{if .Pre}}{{.Pre}}{{ .URL }}{{else}}{{.URL | absLangURL}}{{end}}" class="hero-btn btn page-scroll" class=" my-3 hero-btn btn page-scroll">{{.label}}</a>
	        {{ end }}
	        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.mission.enable }}
{{ with site.Data.homepage.mission }}
<section class="mission" id="mission">
  <div class="bg">
    <img loading="lazy" src="{{`images/who.svg` | absURL}}" class="img-fluid " alt="section-bg">
  </div>
  <!-- <div class="right-shape">
    <img loading="lazy" src="{{`images/right-shape.png` | absURL}}" class="img-fluid" alt="right-shape">
  </div> -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- <div class="section-title">
          <span>{{.section}}</span>
        </div> -->
        <div class="mission-content">
          <h2>{{ .title | markdownify}}</h2>
          <p>{{ .content | markdownify }}</p>

          <!-- <div class="video image-reveal">
            <a class="video-play"
              data-video="https://www.youtube.com/embed/{{.video_id}}?autoplay=1&showinfo=0&controls=0">
              <img loading="lazy" src="{{ .video_thumb | absURL }}" class="img-fluid" alt="video-thumb">
              <i class="fa fa-play"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}


{{ if site.Data.homepage.vision.enable }}
{{ with site.Data.homepage.vision }}
<section class="vision">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{ .section | markdownify }}</span>
        </div>
        <div class="visions row mt-5">
          {{ range .vision_item }}
          <div class="col-lg-4 col-12 col-sm-12 py-2 px-0">
            <div class="card mx-3 ">
	             <img loading="lazy" src="{{ .image | absURL }}" class="card-img-top img-fluid" alt="vision-thumb">
            
	            <div class="card-body text-center">
	              <h3>{{ .title | markdownify }}</h3>
	              <a href="{{ .link | relURL }}" ><span>Helmets</span>{{ .content | markdownify}}</a>
	            </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      <div class="col-12 text-center">
      	<a href="./product" class="btn-black btn f-200">Buy Now</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if site.Data.homepage.product.enable }}
{{ with site.Data.homepage.product }}
<section class="products" id="products">
  <div class="bg">
    <img loading="lazy" src="{{`images/section-bg-2.jpg` | absURL}}" class="img-fluid" alt="section-bg">
  </div>
  <div class="left-shape">
    <img loading="lazy" src="{{`images/left-shape.png` | absURL}}" class="img-fluid" alt="left-shape">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <span>{{.section | markdownify }}</span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="text-block">
          <h2><span class="rev">{{ .title | markdownify }}</span>
          </h2>
          <p>{{ .content | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row m-0">
      <div class="col-lg-10 ml-auto p-0">
        <div class="product-slider-wrapper">
          {{ range .product_item }}
          <div class="product-item">
            <img loading="lazy" src="{{ .image | absURL }}" alt="product-image">
            <div class="overlay">
              <div class="content">
                <h5>{{ .title | markdownify }}</h5>
                <p>{{ .content | markdownify }}</p>
                <a href="{{ .project_url | absURL }}">Learn More</a>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}



{{ if site.Data.homepage.call_to_action.enable }}
{{ with site.Data.homepage.call_to_action }}
<footer class="footer">
	<div class="call-to-action text-center">
		<h2>{{ .title | markdownify }}</h2>
		<a href="{{.button_link | absURL }}">{{.button_label}}</a>
	</div>
</footer>
{{end}}
{{end}}

{{ end }}