{{ define "main" }}

<div data-w-id="c770df62-bff5-3c1f-354f-73f3ad779e7f" class="wrapper" style="opacity: 1;">
{{ if site.Data.homepage.hero.enable }}
{{ with site.Data.homepage.hero }}

  {{ partial "module/hero.html" (dict "desc" .desc)  }}

{{ end }}
{{ end }}

{{ if site.Data.homepage.track.enable }}
	{{ with site.Data.homepage.track }}

	  {{ partial "module/track.html" (dict "slide" .slide)  }}

	{{ end }}
{{ end }}

{{ if site.Data.homepage.about.enable }}
	{{ with site.Data.homepage.about }}

	  {{ partial "module/about.html" (dict "text" .text)  }}

	{{ end }}
{{ end }}

{{ if site.Data.homepage.work.enable }}
	{{ with site.Data.homepage.work }}

	  {{ partial "module/work.html" (dict "brand" .brand)  }}

	{{ end }}
{{ end }}

{{ if site.Data.homepage.partner.enable }}
	{{ with site.Data.homepage.partner }}

	  {{ partial "module/partner.html" (dict "partner" .slide)  }}

	{{ end }}
{{ end }}

{{ if site.Data.homepage.blog.enable }}

					
	  {{ partial "module/blog.html" (dict "blog" site.Data.homepage.blog "bb"  (where .Site.RegularPages "Type" "profile"))  }}

	
{{ end }}

</div>

{{ end }}